html,
body {
    height: 100%;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -160px;
}

#push,
#footer {
    height: 160px;
}

#footer {
    vertical-align: top;
    padding-top: 10px;
    color: #e1e1e1;
    background-color: #4c4b50; 
}

.logoCabecera{
    max-height: 150px;    
    max-width: 190px;    
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;    
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}
@media(max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.container .credit {
    margin: 20px 0;
}
.container hr {
    margin: 2px 0;
}